<div>
  <div class="images-wrapper">
    <div class="image-wrapper" *ngFor="let image of imagesValue">
      <ion-icon class="remove-image" name="close" *ngIf="!isUploading" (click)="removeImage(image)"></ion-icon>
      <div class="image" [style.background-image]="image.sanitized">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             [class.uploading]="isUploading" alt=""/>
        <ion-spinner *ngIf="isUploading && uploadingProgress[image.url]<100"></ion-spinner>

        <ion-icon name="checkmark" *ngIf="isUploading && uploadingProgress[image.url]==100"></ion-icon>
        <div *ngIf="isUploading" class="progress-bar">
          <div class="progress" [style.width]="(uploadingProgress[image.url]||0)+'%'"></div>
        </div>
      </div>
    </div>
    <div class="image-wrapper add-image-btn" *ngIf="!isUploading" (click)="showAddImage()">
      <div class="image">
        <ion-icon name="add"></ion-icon>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=""/>
      </div>
    </div>
  </div>
</div>
